<%- include('../partials/head') %>

    <body class=" row align-items-center justify-content-center text-secondary">
        <div class="col-sm-3 bg-light border border-secondary rounded shadow p-3 mb-5" style="margin-top:3%">
            <h2 class="text-center">Ingresar producto</h2>
            <br>
            <form action="/productos" method="POST">
                <div class="texte">
                    <input type="hidden" name="id" value="0">
                    <b>Nombre:</b>
                    <br>
                    <input type="text" class="form-control" name="title" required>
                </div>
                <div class="form-group">
                    <b>Precio:</b>
                    <br>
                    <input type="number" step="0.01" class="form-control" name="price" required>
                </div>
                <div class="form-group">
                    <b>Url Foto:</b>
                    <br>
                    <input type="url" name="thumbnail" class="form-control" required>
                </div>
                <br>
                <input type="submit" class="btn btn-success" value="Guardar">
            </form>
        </div>
        <%- include('../partials/mensajeExito') %>
            <div class=" d-flex justify-content-center">
                <a href="/productos" type="button" class="btn btn-primary col-sm-2">Ver productos</a>
            </div>
    </body>

    </html>