<%- include('../partials/head') %>
<%- include('../partials/nav'); %>


<body class=" row align-items-center justify-content-center bg-dark text-secondary">
  <%- include('../partials/loginPartial'); %>
  <%- include('../partials/foot'); %>

</body>

</html>