<%- include('../partials/head') %>
<body class=" row align-items-center justify-content-center bg-dark text-secondary">
    <div class=" row align-items-center justify-content-center" style="margin-top:3%">
        <div class="col-sm-4 bg-light border border-secondary rounded shadow p-3 mb-5"> 
            <h2 class="text-center">Hasta luego</h2>
            <h3 class="text-center"><%= nombre %></h3>
            <meta http-equiv="refresh" content="2;url=/login" />
        </div>
    </div>
</body>
</html>