<%- include('../partials/head') %>
<body class=" row align-items-center justify-content-center text-secondary">
    <div class=" row align-items-center justify-content-center" style="margin-top:3%">
        <div class="col-sm-4 alert alert-success  rounded shadow p-3 mb-5 text-center"> 
            <h1 class="text-center">Pedido realizado con exito</h1>
            <h3>Te enviamos un mensaje de texto con la confirmación del pedido</h3>
            <h5>¡Muchas gracias por su compra!</h5>
            <meta http-equiv="refresh" content="5;url=/" />
        </div>
    </div>
    <div class=" row align-items-center justify-content-center">
        <div class="col-sm-4 border border-secondary bg-light rounded shadow p-3 mb-5"> 
            <h4 class="text-center">Redirigiendo a la pagina principal... </h4>
        </div>
    </div>
</body>
</html>