<% if (mensaje.length !== 0){ %>
    <br>
    <div class="row align-items-center justify-content-center text-center">
        <div class="col-sm-3 shadow p-3 mb-5 bg-white rounded border border-success">
            <h3 class="text-success"> <%= mensaje %> </h3>
        </div>
    </div>
<% } %>