<div class="row align-items-center justify-content-center text-center">
    <div class="col-sm-3 shadow p-3 mb-5 bg-white rounded border border-danger">
        <h3 class="text-danger"> No se encontraron productos </h3>
    </div>
</div>