<%- include('../partials/head') %>

    <body class=" row align-items-center justify-content-center text-secondary">
        <%- include('../partials/tablaProductos'); %>
            <%- include('../partials/chat'); %>
                <script src="main.js"></script>
    </body>

    </html>