<div class="col-lg-4 align-items-center justify-content-center" style="margin-top:3%">
    <table class="table table-hover table-dark table-responsive text-light">
        <h2 class="text-center">Centro de Mensajes</h2>
        <hr>
        <div id="mensajes"> </div>
    </div>
    <span style="color:rgba(240, 13, 13, 0.945)">*Admin</span>
</div>