<section class="">
  <footer class="text-center text-white border-info" style="background-color: #343a40; margin-top: 2%; align-content: flex-end;">
    <div class="container p-2 pb-1">
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register for free</span>
          <a href="/register" class="btn btn-info btn-sm btn-rounded">Sign up!</a>
        </p>
      </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">Desafio E-commerce</a>
    </div>
  </footer>
</section>