<div class="col-12 col-lg-4 align-items-center justify-content-center" style="margin-top:3%">
    <div class="bg-dark border border-info rounded shadow p-3 mb-5" style="overflow-x:auto;">
        <h2 class="text-center">Nuevo Mensaje</h2>
        <hr>
        <form id="sendMess">
            <br>
            <input type="text" class="form-control" id="texto" placeholder="Ingrese mensaje" required>
            <br>
            <div align="center">
                <input type='submit' id="btnEnviar" class="btn btn-outline-success" value="enviar"> </input>
                <a href="/" class="btn btn-outline-danger text-center" style="margin-left: 100px;">Volver a la tienda</a>
            </div>
        </form>
    </div>
</div>