<div class=" col-6 bg-dark border border-info rounded shadow p-3 mb-5">
    <h2 class="text-center text-info">Soporte</h2>
    <hr>
    <div align="center">
      <a href="/chat" class="text-center">
        <img width="30" title="chat" src="/icon/chat.png">
      </a>
    </div>
  </div>