<div class=" row align-items-center justify-content-center">
    <div class="col-sm-4 bg-light border border-secondary rounded shadow p-3 mb-5"> 
        <h2 class="text-center">Centro de Mensajes</h2>
        <form id="formChat">
            <br>
            <input type="email" class="form-control" id="id" placeholder="Email" required>
            <br>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre" required>
            <br>
            <input type="text" class="form-control" id="apellido" placeholder="Apellido" required>
            <br>
            <input type="number" class="form-control" id="edad" placeholder="Edad" required>
            <br>
            <input type="text" class="form-control" id="alias" placeholder="Alias" required>
            <br>
            <input type="url" class="form-control" id="avatar" placeholder="Url Avatar" required>
            <hr>
            <div id="mensajes"></div>
            <br>
            <input type="text" class="form-control" id="texto" placeholder="Ingrese mensaje" required>
            <br>
            <input type='submit' id="btnEnviar" class="btn btn-outline-success" value="enviar"> </input>
        </form>
    </div>
</div>