{{> head }}
<body class=" row align-items-center justify-content-center">
    {{#if productos }}
    <div class="col-sm-4 bg-light border border-secondary rounded shadow p-3 mb-5" style="margin-top:3%"> 
        <div class="table-responsive">
            <table class="table text-secondary">
                <tr>
                    <td colspan="3">            
                        <h2 class="text-center text-secondary">Productos</h2>
                    </td>      
                </tr>
                <tr> 
                    <th><h5>Nombre</h5></th>
                    <th><h5>Precio</h5></th>
                    <th><h5>Foto</h5></th>
                </tr>
                {{#each productos}}
                <tr>
                    <td> {{this.title}} </td>
                    <td> {{this.price}} </td>
                    <td> <img width="50" src={{this.thumbnail}}> </td>
                </tr>
                {{/each}}
            </table>
    {{else}}
        {{> mensajeError }}
    {{/if}}
        </div>
    </div>
    <div class=" d-flex justify-content-center">
        <a href="/" type="button" class="btn btn-primary col-sm-2">Crear nuevo producto</a>
    </div>

</body>