<%- include('../partials/head') %>

<body class="row text-info">
  <%- include('../partials/nav'); %>
  <%- include('../partials/loginPartial'); %>
  <%- include('../partials/foot'); %>



</body>

</html>