<%- include('../partials/head') %>

<%- include('../partials/nav'); %>

<body class=" row align-items-center justify-content-center text-secondary">
  <div class=" row align-items-center justify-content-center" style="margin-top:3%">
    <div class="col-sm-4 alert alert-success  rounded shadow p-3 mb-5 text-center">
      <h1 class="text-center">Order finished succesfully</h1>
      <h3>We send a message with the details of your order</h3>
      <h5>Thank you for your purchase!</h5>
      <meta http-equiv="refresh" content="5;url=/" />
    </div>
  </div>
  <div class=" row align-items-center justify-content-center">
    <div class="col-sm-6 border border-info bg-dark rounded shadow p-3 mb-5">
      <h4 class="text-center">Go to home</h4>
    </div>
  </div>
</body>
<%- include('../partials/foot') %>

</html>