<%- include('../partials/head') %>
<body class=" row align-items-center justify-content-center text-secondary">
    <div class=" row align-items-center justify-content-center" style="margin-top:3%">
        <div class="col-sm-4 alert alert-success  rounded shadow p-3 mb-5"> 
            <h1 class="text-center">Usuario creado con exito</h1>
            <meta http-equiv="refresh" content="2;url=/login" />
        </div>
    </div>
    <div class=" row align-items-center justify-content-center">
        <div class="col-sm-4 border border-secondary bg-light rounded shadow p-3 mb-5"> 
            <h4 class="text-center">Redirigiendo a login... </h4>
        </div>
    </div>
</body>
</html>