<%- include('../partials/head') %>
<body class=" row align-items-center justify-content-center text-secondary">
    <div class="col-sm-4 bg-white border border-primary rounded shadow p-3 mb-5" style="margin-top:3%"> 
        <h2 class="text-center">Ingresar producto</h2>
        <br>
        <form id="formulario">
            <div class="texte">
                <input type="hidden" name="id" value="0">
                <b>Nombre</b>
                <br>
                <input type="text" class="form-control" name="title" id="titulo" required>
            </div>
            <div class="form-group">
                <b>Precio</b>
                <br>
                <input type="number" step="0.01" class="form-control" name="price" id="precio" required>
            </div>
            <div class="form-group">
                <b>Url Foto</b>
                <br>
                <input type="url" name="thumbnail" class="form-control" id="foto" required>
            </div>
            <br>
            <input type="submit" id="guardar" class="btn btn-success" value="Guardar"></input>
        </form>
    </div>
    <%- include('../partials/tablaProductos'); %>
    <%- include('../partials/chat'); %>
    <script src="main.js"></script>
</body>
</html>