<%- include('../partials/head') %>
<%- include('../partials/nav'); %>
<body class=" row align-items-center justify-content-center bg-dark text-info">
    <%- include('../partials/tablaProductos'); %>
    <%- include('../partials/chat'); %>
    <script src="main.js"></script>
</body>
</html>