<%- include('../partials/head') %>
<%- include('../partials/nav') %>

<body class=" row align-items-center justify-content-center text-secondary bg-dark">
    <%- include('../partials/tablaInfo'); %>
</body>
</html>