<div class=" row align-items-center justify-content-center" style="margin-top:7%">
    <div class="col-sm-4 bg-dark border border-warning shadow p-3 mb-5">
        <h2 class="text-center">Registro de usuario</h2>
        <form id="formChat" action="/register" method="POST">
            <br>
            <input type="email" class="form-control" name="username" placeholder="Email" required>
            <br>
            <input type="password" class="form-control" name="password" placeholder="Password" required>
            <br>
            <input type='submit' class="btn btn-success" value="Registrar"> </input>
        </form>
        <hr>
        <a href="/login" class="btn btn-primary">Ir a login</a>
    </div>
</div>