<div class=" row align-items-center justify-content-center" style="margin-top:7%">
    <div class="col-sm-4 bg-dark border border-warningrounded rounded shadow p-3 mb-5">
        <table class="table text-secondary">
            <tr>
                <td>
                    <h2 class="text-center text-primary">Bienvenido</h2>
                    <h3 class="text-center text-primary">
                        <%= nombre %>
                    </h3>
                </td>
                <td>
                    <a href="/login/logout" class="btn btn-danger ">Cerrar Sesión</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class=" row align-items-center justify-content-center">
    <div class="col-sm-4 bg-dark border border-warningrounded shadow p-3 mb-5">

        <div class="table-responsive">
            <h2 class="text-center text-primary">Productos</h2>
            <hr>
            <table class="table text-light" id="productos">
            </table>
        </div>
    </div>
</div>